
<div class="text-center">
  <h1>My Wikis</h1>
  <p>Role - <%= current_user.role %></p>
  <br>
  <table class="table">
    <tr>
      <% current_user.wikis.each do |wiki| %>
	    <td><%= link_to wiki.title, wiki %></td>
	  <% end %>
    </tr>
  </table>
  <br>
  <br>
  <br>

  <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-default' %>


</div>

