<br>
<br>
<br>
<div class="text-center">
	<h1>New Wiki Article</h1>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Common policies and guidelines</p>
      <ul>
        <li>Guideline 1</li>
    	  <li>Guideline 2</li>
    	  <li>Guideline 3</li>
    	  <li>Guideline 4</li>
      </ul>
  </div>

  <div class="col-md-8">
  	<%= render 'form' %>
  </div>
</div>