
<div class="text-center">
	<h1>Blocepedia Library</h1>
</div>

<br>
<br>

  <div class="col-md-7">
  	<% @wikis.each do | wiki | %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to wiki.title, wiki %>
          </h4>
        </div>
      </div>
    <% end %>
  </div>
  
  <% if user_signed_in? %>
    <div class="col-md-2">
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-default' %>
    </div>
  <% end %>

</div>
